<!doctype html>
<html lang="en"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- InstanceBeginEditable name="doctitle" -->
    <title>Hello, world!</title>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
  </head>
  <body>
	  <div class="container">
    <!-- InstanceBeginEditable name="content" -->
    

  <div class="container">
    <h1>Unsplash Photographer Spotlight</h1>
		  <p>[My misson statement.]</p>
<div class="card-deck">
	<div class="card">
	  <img class="card-img-top" src="https://images.unsplash.com/profile-1495427732560-fe5248ad6638?auto=format&fit=crop&w=400&h=225&q=60&crop=faces">
		<div class="card-body">
		  <h5 class="card-title">Nathan Dumlao</h5>
		  <p class="card-text">Brand Consultant and Content Creator living in Los Angeles creating up the coast.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
	  </div>
	</div>
	
	<div class="card">
		<img class="card-img-top" src="https://images.unsplash.com/profile-1474044200709-33bd5ed27287?auto=format&fit=crop&w=400&h=225&q=60&crop=faces">
		<div class="card-body">
		<h5 class="card-title">Jennifer Pallian</h5>
      <p class="card-text">food photographer & recipe developer🍴📷 | saveur best blog finalist at www.foodess.com | making a mess + something delicious, in roughly equal parts. Join me! jennifer@foodess.com to collaborate on something yummy 💌</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	</div>
	
	<div class="card">
		<img class="card-img-top" src="https://images.unsplash.com/profile-1533659035628-9a9e730d3e8f?auto=format&fit=crop&w=400&h=225&q=60&crop=faces">
		<div class="card-body">
		<h5 class="card-title">Roland Denes</h5>
      <p class="card-text">IG: denesroli / roland.visuals</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		</div>
	</div>
</div>
		  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/profile-1533736781473-b4527ef0be75?auto=format&fit=crop&w=400&h=225&q=60&crop=faces" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Amy Shamblen </h5>
      <p class="card-text">I create vibrant and colorful photos for fun brands. 
 Instagram: @amyshamblen 
 Email: hello@amyshamblen.com
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/profile-1517513712094-26168c2381bc?auto=format&fit=crop&w=400&h=225&q=60&crop=faces">
    <div class="card-body">
      <h5 class="card-title">Tyler Nix</h5>
      <p class="card-text">Lifestyle and branding photographer based in Los Angeles, California.
</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.unsplash.com/profile-1540218473891-209280bdc08c?auto=format&fit=crop&w=400&h=225&q=60&crop=faces">
    <div class="card-body">
      <h5 class="card-title">Dmitry Bayer</h5>
      <p class="card-text">Creator of future | Nikon D5200 | For cooperation: kotelok916@gmail.com</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
    <!-- InstanceEndEditable -->
	  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
<!-- InstanceEnd --></html>
